dhis-web-integration/src/main/resources/dataelementMapping.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from dataelementMapping.xml by XMLBuddy -->
<!ELEMENT dataelement (dhis,rims)>
<!ATTLIST dataelement
	aefi_code NMTOKEN #IMPLIED
	antigen (0|1|2|3|4|5|B|NA) #IMPLIED
	disease_code NMTOKEN #IMPLIED
	name CDATA #REQUIRED
	vaccine_code CDATA #IMPLIED
>
<!ELEMENT dataelements (table+)>
<!ELEMENT dhis (#PCDATA)>
<!ELEMENT rims (#PCDATA)>
<!ELEMENT table (dataelement+)>
<!ATTLIST table name NMTOKEN #REQUIRED>
